:root {
  
  /* system colors */

  --light-blue: #007bff;


  /* font weights */

  --thin-font:100;
  --normal-font:400;
  --bold-font:700;
}

.main-padding {
  padding: 2em;
}

.section-title {
  text-align: center;
}


.section-subtitle {
  text-align: center;
  font-weight: var(--light-font);
  margin: 1.5em auto 1.5em auto;
}

.section-title::after {
  content: "";
  display: block;
  width: 4em;
  height: 3px;
  background-color: var(--light-blue);
  margin: 1.5em auto 0 auto;
}








.resume-item-content,
.resume-item-date,
.resume-item-details {
  position: relative;
}

.resume-item-title {
  position: relative;
  font-weight: var(--bold-li);
}

.resume-column {
  width: 50%;
  padding-top: 2em;
}


.resume-item-content::before,
.resume-item-date::before,
.resume-item-details::before {
  content: '';
  position: absolute;
  top: 0;
  left: -2em;
  width: 0.1em;
  height: 100%;
  background-color: var(--light-blue);
}


.resume-item-date{
  font-weight: var(--bold-font);
}

.resume-item-details {
  font-weight: var(--light-font);
}

.resume-item-title::before {
  content: "";
  position: absolute;
  bottom: -0.09em;
  left: -2.7em;
  width: 23px;
  /* Diameter of the circle */
  height: 23px;
  /* Diameter of the circle */
  border: 0.1em solid var(--light-blue);
  /* Blue border for the hollow circle */
  border-radius: 50%;
  /* Makes the shape a circle */
  background-color: transparent;
  /* Hollow circle */
}

.container {
  margin-right: auto;
  margin-left: auto;
} 

ul {
  list-style-type: disc;
  margin: 0;
  padding-left: 0.7em;
}

#experience .row {
  display: flex;
  flex-direction: row;
  justify-content: center
}