.main-padding{
  padding: 2em;
}

.section-title{
  text-align: center;
}

.section-title::after{
  content:"";
  display: block;
  width: 25px;
  height: 3px;
  background-color: black;
  align-self: center;
}